.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-xs-left {
  float: left !important;
}

.pull-xs-right {
  float: right !important;
}

.pull-xs-none {
  float: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.invisible {
  visibility: hidden !important;
}

.text-hide {
  font: "0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-xs-left {
  text-align: left !important;
}

.text-xs-right {
  text-align: right !important;
}

.text-xs-center {
  text-align: center !important;
}

@media (min-width: 544px) {
  .pull-sm-left {
    float: left !important;
  }

  .pull-sm-right {
    float: right !important;
  }

  .pull-sm-none {
    float: none !important;
  }

  .text-sm-left {
    text-align: left !important;
  }

  .text-sm-right {
    text-align: right !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .pull-md-left {
    float: left !important;
  }

  .pull-md-right {
    float: right !important;
  }

  .pull-md-none {
    float: none !important;
  }

  .text-md-left {
    text-align: left !important;
  }

  .text-md-right {
    text-align: right !important;
  }

  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .pull-lg-left {
    float: left !important;
  }

  .pull-lg-right {
    float: right !important;
  }

  .pull-lg-none {
    float: none !important;
  }

  .text-lg-left {
    text-align: left !important;
  }

  .text-lg-right {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .pull-xl-left {
    float: left !important;
  }

  .pull-xl-right {
    float: right !important;
  }

  .pull-xl-none {
    float: none !important;
  }

  .text-xl-left {
    text-align: left !important;
  }

  .text-xl-right {
    text-align: right !important;
  }

  .text-xl-center {
    text-align: center !important;
  }
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-muted {
  color: #818a91;
}

.text-primary {
  color: #0275d8 !important;
}

a.text-primary:focus,
a.text-primary:hover {
  color: #025aa5;
}

.text-success {
  color: #5cb85c !important;
}

a.text-success:focus,
a.text-success:hover {
  color: #449d44;
}

.text-info {
  color: #5bc0de !important;
}

a.text-info:focus,
a.text-info:hover {
  color: #31b0d5;
}

.text-warning {
  color: #f0ad4e !important;
}

a.text-warning:focus,
a.text-warning:hover {
  color: #ec971f;
}

.text-danger {
  color: #d9534f !important;
}

a.text-danger:focus,
a.text-danger:hover {
  color: #c9302c;
}